{% extends "base.html" %}
{% block include %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/holder.js')}}"></script>
    <script type="text/javascript">
 		$(function () { $("[data-toggle='tooltip']").tooltip(); });
 	</script>
 	<script>
	 	$('[data-toggle="popover"]').popover({
	    trigger: 'hover',
        'placement': 'top'
		});

 	</script>

{% endblock %}