{% extends "included.html" %}

{% block nav %}
  
      <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">The Abby Tapes</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/south_africa">South Africa snippets</a></li>
<!--                 <li><a href="#gll">GLL</a></li>
                <li><a href="#munncabin">Munn Cabin</a></li>
 -->                <li><a href="/download">Full Videos</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock %}