{% extends "nav.html" %}

{% block content %}
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Full Title Downloads</h4>
        </div>
        <div class="modal-body">
           {% for video in data %}
  
    <div class="page-header">
      <h3>{{video["location"]}}</h3>    
    </div>
  

    <div>
      <h3><button class="btn btn-lg btn-default"><a href="{{video["link"]}}" download="{{video["link"]}}"><span class="glyphicon glyphicon-download-alt"></span> Download</a></h3></button>
    </div>

  {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}